{{#each this}}
<li class="country__item">
    <img class="country__img" 
    src={{flags.svg}} 
    alt={{name.official}}
    width="60" 
    height="40px"
    />
    {{name.official}}
</li>
{{/each}}